body {
    background-color: rgb(205, 172, 172);
    background-image: url(duplex-home-interior-design-in-india.jpg);
   

}

ul {
    list-style: none;
    padding-left: 150px;
    list-style-type: none;
}

span {
    color: rgb(255, 255, 255);
}

li {
    display: inline;
    padding: 50px;
}
.a {
    padding-right: 300px;
    font-size: 60px;
    color: white;
    list-style-type: none;
}

li a {
    color: aliceblue;
    text-decoration: none;
}

.b {
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 150px;
   

}
.c{
    
    color: aliceblue;
    font-size: 20px;
    width: 50%;
    text-align: center;
    padding-left: 350px;
}
.d{
    border: solid 5px;
    padding: 20px;
    margin-left: 550px;
    width: 100px;
    border-radius: 15px;
    padding-top: 15px;
    padding-left: 35px;
    /* border-color: greenyellow; */
    text-decoration: none;
    color: aliceblue;
    margin-top: 50px;
    display: inline-block;
}
a:hover {
    background-color: yellowgreen;
}
.e{
    border: solid;
    padding: 20px;
    border-radius: 15px;
    border-color: yellowgreen;
    text-decoration: none;
    color: aliceblue;
    border-color: aliceblue;
}


